{% extends "base.html" %}

{% block body %}

    <h3>Sign Up!</h3>
    <p>Already have an account? <a href="/login">Login</a> Here!!</p>
    <hr/>
    
    <form action="/signup" method='POST'>

        <label for="email">Email
           <input name="email" type="text" value="{{ email }}"></label>
        <p class="error">{{email_error}}</p> 

        <br>
           
        <label for="password">Password
            <input name="password" type="password"></label>
        <p class="error">{{password_error}}</p>

        <br>

        <label for="password_check">Verify Password
            <input name="password_check" type="password"></label>
        <p class="error">{{password_error}}</p>

        <br>
            
        <input type="submit" value="Sign Up">

    </form>

{% endblock %}